{% extends "layout.html" %}
{% block body %}
    <!-- Content -->
    <section>
        <header class="main">
            <h1>About</h1>
        </header>

        <span class="image main" style="height: 25rem"><img src="static/images/pic01.jpeg" alt=""></span>

        <p>Hi, My name is Amira Mahjabeen. Currently, I am an undergraduate student enrolling in B.Sc in Software
            Engineering at Daffodil International University. I live in Tongi, Gazipur but I call many places home. I
            love crafting with colored papers, scissors, and a glue gun. I used to dance and draw when I was a little
            girl but these days not that much. Often I love to create beautiful designs with Mehendi on occasions such
            as Eid. I do have a twin sister. Her name is Anika Mahpara. We always try to spend our day with different types of
            activities. I wanted to be a Teacher so that this hobby turns into my profession. Then I can help the nation
            by participating in spreading the light of education.</p>

        <hr class="major"/>

    </section>
    </div>
        </div>
{% endblock %}