{% extends "layout.html" %}
{% block body %}
							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
                                            <h1>
                                                <div class='console-container'>
                                                    Hi, I’m
                                                    <span id='text'></span>
                                                </div>
                                            </h1>
											
										</header>
										<p>Enrolling in B.Sc in Software Engineering at Daffodil International University.</br>I have a passion for learning</p>
										
									</div>
									<span class="image object">
										<img src="static/images/pic10.jpeg" alt="" />
									</span>
								</section>

							
							<!-- Section -->
								<section id="portfolio">
									<header class="major">
										<h2>Portfolio</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="static/images/pic01.jpg" alt="" /></a>
                                            <p>As with all my work, whether it's a leaf on a rock or ice on a rock, I'm
                                                trying to get beneath the surface appearance of things. Working the
                                                surface of a stone is an attempt to understand the internal energy of
                                                the stone</p>
											
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic02.jpg" alt="" /></a>
											<h3></h3>
											<p>The sorrowful spirit finds relaxation in solitude. It abhors people, as a wounded deer deserts the herd and lives in a cave until it is healed or dead.</p>
											
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic03.png" alt="" /></a>
                                            <p>Crafting is my favourite hobby. I just want to make beautiful things even if nobody cares</p>
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic04.jpg" alt="" /></a>
                                            <p>The Window that I use to live my Digital Life</p>
											
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic05.jpeg" alt="" /></a>
											<p>My Favourite... <3</p>
											
										</article>
										<article>
											<a href="#" class="image"><img src="static/images/pic06.png" alt="" /></a>
											<p>Me to my mehendi: My thoughts are free to go anywhere, but it’s surprising how often they head in your direction.</p>
											
										</article>
									</div>
								</section>

						</div>
					</div>

{% endblock %}			