{% extends "layout.html" %}
{% block body %}
							<!-- Content -->
								<section>
									<header class="main">
										<h1>Resume</h1>
									</header>

									<!-- Content -->
										<h2 id="content">Want to learn more about me?</h2>
                                        <p>My educational history and skills are in my resume...</p>
                                        <a target="_blank" href="https://docs.google.com/document/d/1w_-j6lG60YohuTCAiXt6lIarJF6SVFokmDURGAp-ll4/edit?usp=sharing"
                                        class="button icon solid fa-download">Download Resume</a>

                                    <hr class="major" />

								</section>

						</div>
					</div>

		{% endblock %}